@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&family=Montserrat:wght@600&display=swap");

body {
  margin: 0;
  font-family: "Inter", sans-serif;
  background-color: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

html {
  font-size: 10px;
}

/* Your custom classes should come after Tailwind directives */
.top {
  @apply flex flex-row;
}

.top_a img {
  @apply rounded-[80px_20px_80px_20px] w-[230px] h-[280px];
}

.top_b img {
  @apply rounded-[80px_80px_110px_60px] w-[152px] h-[180px] shrink-0 ml-[10px] mt-[100px];
}

.bottom_a img {
  @apply rounded-[120px_50px_80px_80px] w-[152px] h-[180px] shrink-0 ml-[70px] mr-[10px] mt-[10px];
}

.bottom_b img {
  @apply rounded-[80px_20px_80px_20px] w-[230px] h-[280px] shrink-0;
}

.flexD {
  @apply flex flex-row gap-[3rem] justify-center items-center;
}

.--btn {
  @apply text-white font-inter;

  a {
    @apply text-white font-inter;
  }
}

@media only screen and (max-width: 768px) {
  .top_b img {
    @apply rounded-[40px_40px_55px_30px] w-[75px] h-[90px] shrink-0 ml-[5px] mt-[50px];
  }

  .top_a img {
    @apply rounded-[80px_20px_80px_20px] w-[115px] h-[140px];
  }

  .bottom_a img {
    @apply rounded-[60px_25px_40px_40px] w-[75px] h-[90px] shrink-0 ml-[35px] mr-[5px] mt-[5px];
  }

  .bottom_b img {
    @apply rounded-[80px_20px_80px_20px] w-[115px] h-[140px] shrink-0;
  }
}
